@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,600");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    background-color: #242424;
} */

body {
  background-color: #242424;
}
